/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.scss';

.root {

}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}
.holder {
  width: 850px;
  margin: 20px auto;
}
.holder>div {
  padding: 30px 0;
  clear: both;
}
.map {
  width: 600px;
  height: 400px;
}
