/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
@import '../variables.scss';
.root {
  margin-top: 2em;
  color: #777;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  article {
    padding-left: 4em;
    padding-right: 4em;
  };
  .charts {
    padding-left: 4em;
  };
  li {
    list-style: none;
    padding-top: 0.5em;
    margin-left: 6em;
  };
  table {
    margin: 0 auto;
    width: 85%;
  };
  h2 {
    color: #6B6969;
  }
}
.logo {
  padding-left: 4em;
  padding-bottom: 2em;
  padding-top: 2em;
}
.container {
  background-color: rgba(204, 204, 204, 0.35);
}
.main {
  margin-right: solid 1px;
  background-color: white;
  hr {
    color: #777;
  };
  h3 {
    color: #374048;
    padding-bottom: 2em;
  };
}
.spacing {
  margin-top: 5em;
  margin-bottom: 1em;
}
.sidebar h3,.sidebar a {
  padding-left: 1em;
}
.nav >li>a,
.sidebar a {
  color: #a94442;
}
