@import '../variables.scss';

.root {

}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, .6);
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .15);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, .3);
}

.spacer {
  color: rgba(255, 255, 255, .3);
}
.navbar{
  background-color: $primary-color;
  border-color: $primary-color;
}

.nav-scroll{ background-color: rgba(245,245,245,0.5);}

.navbar .link {
  color: #ffffff;
}

.collapse {
  margin-top: 0.5em;
}

.navbar .link:focus, .navbar .link:hover {
    color:#243442;
    background-color:transparent;
}
