@import '../variables.scss';

.root {

}

.container {
}

.icon-cover{
    border: solid;
    border-radius: 6em;
    height: 14em;
  }
.fa-5x {
    font-size: 13em;
}

.home-main{margin-top:9em}

.products{
    margin-top:24em;
    p{line-height:2em}
}
.footer-nav{
  background-color:white;
    border-radius: 1em;
    height: 50px;
  li{display: inline;padding:4em};
  a{ color:white; font-size:1.1em};


}
.social {
  margin-top: -1em;
  a{ color:white; font-size:2.0em};
}

.btn {
  background-color: $secondary-color;
  color: white
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color:$secondary-color;
}
