---
title: Twitter Data
component: DataPage
---
p.
  The aim of this initiative is to offer a singular place for people to dig in and
  analyse the social media data being created by various individuals during the uganda 
  presidential campaigns
P.
  The charts are very interactive and clicking or touching them causes some of the charts to redraw or filter.
a(href = "/blog") read the process behind the creation of the dashboard and the analytics.
  
