---
title: Akilihub
component: ContentPage
---
section.row.main.section
  header.col-md-6.col-md-offset-3.text-center
    h1 Derive Insight from your Data
    h3.spacing Translate data into Actionable Steps to further your Organisation
section.section.row.products
  header.text-center.center.spacing-sm
    h2.spacing Social media and Web Data Analytics 
  article
    .row.spacing-md
      .col-md-8.col-md-offset-2
        .row
          .col-md-6.text-justify.text-center
            p Analyze trends and topics from the world’s largest source of public opinion
          .col-md-6.text-center
            p
              i.fa.fa-bar-chart.fa-5x
              |  &nbsp
    .row.spacing-md
      .col-md-8.col-md-offset-2
        .row
          .col-md-6.text-center
            p
              i.fa.fa-map-signs.fa-5x
              |  &nbsp
          .col-md-6.text-justify.text-center
            p See and predict what customers like, talk about, and share most.
          section#services.products
section.section.row.vas
  header.text-center.center.spacing-sm
    h2.spacing Build and Manage Your Big data Infrastructure
  article
    .row.spacing-md
      .col-md-8.col-md-offset-2
        .row
          .col-md-6.text-justify.text-center
            p
              | We makes it easier, faster, and more cost-effective to deploy Big Data infrastructure for your organisation in the cloud
          .col-md-6.text-center
            p
              i.fa.fa-database.fa-5x
              |  &nbsp
    .row.spacing-md
      .col-md-8.col-md-offset-2
        .row
          .col-md-6.text-center
            p
              i.fa.fa-group.fa-5x
              |  &nbsp
          .col-md-6.text-justify.text-center
            p
              | We love and use open source big data tools such as Hadoop, spark to make sure you get the most out of your data
section.section.row.services
  header.text-center.center.spacing-sm
    h2.spacing Data Analytics,Clean up and structuring
  article
    .row.spacing-md
      .col-md-8.col-md-offset-2
        .row
          .col-md-6.text-justify.text-center
            p
              | We make your data useful actionable and insightful through data visualization and predictive analytics
          .col-md-6.text-center
            p
              i.fa.fa-signal.fa-5x
              |  &nbsp
    .row.spacing-md
      .col-md-8.col-md-offset-2
        .row
          .col-md-6.text-center
            p
              i.fa.fa-sort-amount-asc.fa-5x
              |  &nbsp
          .col-md-6.text-justify.text-center
            p Go from having unstructured data to structured data with a story
section.section.row
  .row.spacing-sm
    header.text-center.center.spacing-sm
      h3.spacing Our Clients
    .col-md-12.text-center
      ul.footer-nav
        li
          a(href='http://ugmart.ug/')
            img(src='images/ugmart.jpg')
        li
          a(href='http://2dgroup.co/')
            img(src='images/2d.png')
