@import '../variables.scss';

.root {
  background: rgba(0,0,0,.5);
  color: #fff;
  height: 3em;
  padding-top: -2em;
  border-radius: 1em;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: $max-content-width;
  text-align: center;
  .form-group{
    margin-left: 1em;
  }
}

.text {
  color: rgba(255, 255, 255, .5);
}

.textMuted {
  composes: text;
  color: rgba(255, 255, 255, .3);
}

.spacer {
  color: rgba(255, 255, 255, .3);
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}
