@import '../variables.scss';
.root {
  margin-top: 2em;
  color: #777;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  table {
    margin: 0 auto;
  };
  h2 {
    color: #6B6969;
  }
}
.chart{
  opacity: 0;
}
.timeRange{ padding-left: 3em}
.main {
  margin-right: solid 1px;
  background-color: white;
  hr {
    color: #777;
  };
  h3 {
    color: #374048;
    padding-bottom: 2em;
  };
}
.spacing {
  margin-top: 5em;
  margin-bottom: 1em;
}
.sidebar h3,.sidebar a {
  padding-left: 1em;
}

table{
  font-size: 0.9em;
  span{display: none}
}
.legend small{
  text-align: right;
}
.legend i{
  width: 4em;
  height: 0.5em;
  margin-left: 2em;
  border: solid;
  text-align: center;
  display: inline-block;
}
.yellow i{
  color: yellow;
}
.blue i{
  color: blue;
}
.orange i{
  color: orange;
}
